/***** IMPORT ALL PAGES HERE (ORDER MATTERS) *****/
/***** VARIABLES AND MIXINS *****/
/****** ADD CSS VARIABLES TO REUSE AS FUNCTIONS & MEDIA QUERY ESCAPE ******/
/***** GENERAL STYLES *****/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
/***** HOME PAGE STYLES *****/
header {
  padding: 2% 0;
  width: 100%;
}
@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 800px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav div {
    width: 20%;
  }
}
header .logo {
  width: 30%;
  margin-right: auto;
}
@media (max-width: 800px) {
  header .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background: lightgray;
    padding: 2% 0;
  }
}
@media (max-width: 500px) {
  header .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background: lightgray;
    padding: 2% 0;
  }
}
header .logo a img {
  width: 30%;
  padding: 2% 0;
}
@media (max-width: 800px) {
  header .logo a img {
    width: 100%;
  }
}
header .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}
@media (max-width: 800px) {
  header .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: salmon;
  }
}
@media (max-width: 500px) {
  header .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: salmon;
  }
}
header .links a {
  font-size: 2rem;
  color: #0a1f44;
  text-decoration: none;
}
@media (max-width: 800px) {
  header .links a {
    padding: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
@media (max-width: 500px) {
  header .links a {
    padding: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
.hero-content {
  border: 2px sold blue;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
  width: 100%;
}
.hero-titles {
  width: 60%;
  margin-top: 5%;
  padding: 0 13%;
}
@media (max-width: 500px) {
  .hero-titles {
    width: 100%;
  }
}
.hero-titles h1 {
  padding: 10% 0;
  line-height: 1.5;
}
.hero-titles h2 {
  line-height: 1.5;
  margin-bottom: 10%;
}
.hero-titles .sign-up {
  display: flex;
  background: #f7926f;
  width: 250px;
  height: 40px;
  font-size: 1.6rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: #f1f2f4;
  cursor: pointer;
  margin-top: 5%;
}
.hero-titles .sign-up:hover {
  background-color: #fff;
  color: #f7926f;
  border: 2px solid #f7926f;
}
.hero-vector {
  width: 40%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .hero-vector {
    display: none;
  }
}
.hero-vector img {
  margin-left: 17%;
}
.explainer-content {
  width: 100%;
}
@media (max-width: 500px) {
  .explainer-content {
    margin: 7% 0;
  }
}
.explainer-titles {
  width: 100%;
  text-align: center;
}
.explainer-titles h1 {
  padding: 5%;
}
@media (max-width: 500px) {
  .explainer-titles h2 {
    font-size: 1.6rem;
  }
}
.nanny-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}
@media (max-width: 800px) {
  .nanny-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }
}
@media (max-width: 500px) {
  .nanny-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }
}
.explainer-parent {
  width: 35%;
}
@media (max-width: 800px) {
  .explainer-parent {
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .explainer-parent {
    margin-bottom: 10%;
  }
}
.explainer-parent h4 {
  text-align: center;
  text-transform: uppercase;
}
.explainer-parent .parent-vector {
  width: 100%;
  padding: 20% 10%;
  display: flex;
  justify-content: center;
}
.explainer-parent .explainer-button {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 40px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
  font-size: 1.6rem;
}
.explainer-parent .explainer-button:hover {
  background-color: #f7926f;
  box-shadow: 0px 15px 20px rgba(100, 15, 26, 0.4);
  color: #fff;
}
.explainer-nanny {
  width: 30%;
}
.explainer-nanny h4 {
  text-align: center;
  text-transform: uppercase;
}
.explainer-nanny .nanny-vector {
  width: 100%;
  padding: 19% 10%;
  display: flex;
  justify-content: center;
}
.explainer-nanny .explainer-button {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 40px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
  font-size: 1.6rem;
}
.explainer-nanny .explainer-button:hover {
  background-color: #f7926f;
  box-shadow: 0px 15px 20px rgba(100, 15, 26, 0.4);
  color: #fff;
}
.works-content {
  background: salmon;
  display: flex;
  padding: 10% 0;
  width: 100%;
}
@media (max-width: 500px) {
  .works-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.iphone-vector {
  margin-left: 10%;
}
div {
  width: 30%;
}
.works-titles {
  color: white;
  margin-left: 10%;
  width: 40%;
  padding-top: 8%;
}
@media (max-width: 500px) {
  .works-titles {
    display: none;
  }
}
.works-titles h1 {
  padding: 10% 0;
}
.works-titles h2 {
  padding: 5% 0;
}
.trusted-content {
  width: 100%;
}
.trusted-top-header {
  width: 100%;
  text-align: center;
}
.trusted-top-header h1 {
  padding: 3%;
}
@media (max-width: 500px) {
  .trusted-top-header h2 {
    font-size: 1.6rem;
  }
}
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 5% 5%;
}
@media (max-width: 500px) {
  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.features-container div {
  padding: 2% 0%;
}
@media (max-width: 800px) {
  .features-container div {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .features-container div {
    width: 70%;
  }
}
.features-container .icon-title {
  display: flex;
  align-items: baseline;
}
.features-container h4 {
  margin: 0 10%;
}
.testimonials-content {
  width: 100%;
}
.testimonials-header {
  width: 100%;
  text-align: center;
}
.testimonials-header h1 {
  padding: 5%;
}
@media (max-width: 500px) {
  .testimonials-header h2 {
    font-size: 1.6rem;
  }
}
.testimonials-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 0;
}
@media (max-width: 500px) {
  .testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.testimonials-container .icon-title {
  display: flex;
  align-items: center;
  width: 54%;
  padding: 5% 2%;
}
.testimonials-container .testimonial-card {
  width: 45%;
  margin: 3% 0;
  padding-top: 3%;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0 10px 80px -25px rgba(0, 0, 0, 0.25);
}
@media (max-width: 500px) {
  .testimonials-container .testimonial-card {
    width: 80%;
  }
}
.testimonials-container .testimonial-card p {
  padding: 0 5%;
}
.footer-content {
  background: salmon;
  display: flex;
  padding: 10% 0;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-vector {
  margin-left: 10%;
}
.footer-titles {
  color: white;
  margin-left: 10%;
  padding-top: 2%;
}
@media (max-width: 500px) {
  .footer-titles {
    width: 70%;
    padding: 5%;
  }
}
.footer-titles .footer-button {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 40px;
  color: #f7926f;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 15%;
  cursor: pointer;
}
.footer-titles .footer-button:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}
/***** ABOUT PAGE STYLES *****/
.profile-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 7%;
}
@media (max-width: 800px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .profile {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .profile {
    width: 80%;
  }
}
.profile div {
  width: 100%;
  margin: 10% 0;
}
.profile .icon-title {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.profile .icon-title img {
  width: 50%;
}
.profile-title h4 {
  text-align: center;
}
@media (max-width: 800px) {
  .profile-title h4 {
    font-size: 2.4rem;
  }
}
.profile-title p {
  padding: 0 14%;
}
@media (max-width: 800px) {
  .profile-title p {
    font-size: 1.6rem;
  }
}
