.profile-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 7%;

  @media @tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media @mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile {
  @media @tablet {
    width: 80%;
  }

  @media @mobile {
    width: 80%;
  }

  div {
    width: 100%;
    margin: 10% 0;
  }

  .icon-title {
    display: flex;
    align-items: baseline;
    justify-content: center;

    img {
      width: 50%;
    }
  }
}

.profile-title {
  h4 {
    text-align: center;

    @media @tablet {
      font-size: 2.4rem;
    }
  }

  p {
    padding: 0 14%;

    @media @tablet {
      font-size: 1.6rem;
    }
  }
}
