.profile-container {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 7%;
}

.profile {
  div {
    width: 100%;
    margin: 10% 0;
  }

  img {
    width: 50%;
  }

  .icon-title {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
