.explainer-content {
  width: 100%;

  @media @mobile {
    margin: 7% 0;
  }
}

.explainer-titles {
  // width: 100%;
  // text-align: center;
  .header-titles(100%, center);

  h1 {
    padding: 5%;
  }
}

.nanny-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;

  @media @tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }

  @media @mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }
}

.explainer-parent {
  width: 35%;

  @media @tablet {
    margin-bottom: 10%;
  }

  @media @mobile {
    margin-bottom: 10%;
  }

  h4 {
    text-align: center;
    text-transform: uppercase;
  }

  .parent-vector {
    width: 100%;
    padding: 20% 10%;
    display: flex;
    justify-content: center;
  }

  .explainer-button {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    font-size: 1.6rem;

    &:hover {
      background-color: #f7926f;
      box-shadow: 0px 15px 20px rgba(100, 15, 26, 0.4);
      color: #fff;
    }
  }
}

.explainer-nanny {
  width: 30%;

  h4 {
    text-align: center;
    text-transform: uppercase;
  }

  .nanny-vector {
    width: 100%;
    padding: 19% 10%;
    display: flex;
    justify-content: center;
  }

  .explainer-button {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    font-size: 1.6rem;

    &:hover {
      background-color: #f7926f;
      box-shadow: 0px 15px 20px rgba(100, 15, 26, 0.4);
      color: #fff;
    }
  }
}
