.hero-content {
  border: 2px sold blue;
  display: flex;
  justify-content: space-between;

  div {
    border: 2px solid blue;

    h1 {
      border: 2px solid green;
      padding: 10% 0;
    }

    h2 {
      border: 2px solid red;
      padding: 10% 0;
    }

    button {
      padding: 20% 0;
    }
  }
} //this closes hero section

.hero-titles {
  width: 50%;
  margin-top: 5%;
  padding: 0 5%;
}

.hero-vector {
  width: 40%;
  margin-top: 5%;
}
