.works-content {
  background: salmon;
  border: 2px solid blue;
  display: flex;
  padding: 10% 0;
  width: 100%;
}

.iphone-vector {
  border: 2px solid green;
  margin-left: 10%;
}

div {
  width: 30%;
}

.works-titles {
  border: 2px solid blue;
  color: white;
  margin-left: 10%;
  width: 40%;

  h1 {
    padding: 10% 0;
  }

  h2 {
    padding: 10% 0;
  }
}
