// Need to make Parametric custom button and pass into .btn
.custom-btn(@button-bg, @width, @main-bg) {
  display: flex;
  background: @button-bg;
  width: @width;
  height: 40px;
  font-size: 1.6rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: @main-bg;
  border: @border-grey;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #f7926f;
    border: 2px solid #f7926f;
  }
}

//main header titles setting the width
.header-titles(@width, @text-align) {
  width: @width;
  text-align: @text-align;
}
