/****** ADD CSS VARIABLES TO REUSE AS FUNCTIONS & MEDIA QUERY ESCAPE ******/

//VARIABLES

// // Color assignments from preprocessing project
@font-color: @white;
@button-bg: @salmon;
@main-bg: @white;
@secondary-bg: @black;

//Button Colors
@white: #ffffff;
@salmon: #f7926f;
@border-grey: #f1f2f4;
@black: #000;

// ESCAPE MEDIA QUERY
// // Escapes for media queries @ 500px
// @mobile: ~'(max-width: 500px)';
